# =====================================================
# Copyright 2023 Focason Co.,Ltd. AllRights Reserved.
# =====================================================
server:
  port: ${SERVER_PORT:8888} # 端口号
  address: 0.0.0.0

spring:
  application:
    name: ${APPLICATION_NAME:configure-server}
  security:
    user:
      name: ${CONFIGURE_SERVER_USERNAME:root} # basic认证用户名
      password: ${CONFIGURE_SERVER_PASSWORD:password} # basic认证密码
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost} # RabbitMQ主机名
    port: ${RABBITMQ_PORT:5672} # RabbitMQ端口
    username: ${RABBITMQ_USERNAME:guest} # RabbitMQ用户名
    password: ${RABBITMQ_PASSWORD:guest} # RabbitMQ密码
  cloud:
    bus:
      id: focason-configure-bus
      enabled: true # 启动SpringCloud Bus消息总线服务
      refresh:
        enabled: true # 启动SpringCloud Bus消息总线刷新服务
      trace:
        enabled: true # 启动SpringCloud Bus消息总线追踪服务
    config:
      server:
        git:
          uri: ${GITHUB_PROJECT_HOST:https://github.com/yuanmz9432/focason-cloud-config} # GitHub项目地址
          username: ${GITHUB_USERNAME:yuanmz9432@gmail.com} # GitHub用户名
          password: ${GITHUB_TOKEN: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} # GitHub用户令牌 GitHub → Settings → Developer Settings → Personal access tokens
          default-label: ${GITHUB_BRANCH:main} # 配置文件所在分支
          search-paths: ${GITHUB_ROOT_PATH:config}  # 配置文件所在根路径
          skip-ssl-validation: true # 跳过SSL认证
        bootstrap: true # 开启读取bootstrap配置

management:
  endpoints:
    web:
      exposure:
        include: bus-refresh, health # 为Actuator开放所需监控地址

# 将configure-server注册到Eureka注册中心
eureka:
  instance:
    hostname: ${INSTANCE_HOSTNAME:localhost}
  client:
    service-url:
      defaultZone: http://${EUREKA_HOSTNAME:localhost}:8761/eureka/

# 系统日志输出级别
logging:
  file:
    name: logs/configure-server.log
  level:
    root: ${LOG_LEVEL:INFO}
